# build output
**/dist/
# generated types
**/.astro/

# dependencies
**/node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
**/.env
**/.env.*
!playground/.env.template
!template/.env

# unique config
playground/config/init.json
playground/config/turso.json

# public
template/public/styles/frontend.css
playground/public/styles/frontend.css
playground/public/images
playground/public/custom
template/public/images
template/public/custom

# macOS-specific files
.DS_Store

# other
.jampack*

# the local turso replicas
**/.tractstack/

# fonts
**/fonts/*
!**/fonts/Inter*

# IDE
.vscode/*
!.vscode/settings.json
.idea/*
!.idea/tractstack.iml

# custom files
**/config/init.json
**/config/turso.json
**/public/custom/
**/public/images/
**/public/styles/frontend.css
