# Dependencies
**/node_modules
.pnpm-store

# Package manager files
pnpm-lock.yaml
pnpm-workspace.yaml

# Build outputs
**/dist
**/.astro

# Cache and temporary files
.cache
.temp

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Specific to your monorepo structure
package/node_modules
package/public/styles/storykeep.css
playground/node_modules

# storykeep css
**/storykeep.css

# template
template/*
