---
import {
  getNodeSlug,
  getNodeClasses,
  getNodeStyles,
  getChildNodeIDs,
} from "../../../../store/nodes";
import { viewportStore } from "../../../../store/storykeep";
import Node from "../Node.astro";

const { nodeId } = Astro.props;
---

<div
  id={getNodeSlug(nodeId)}
  class={getNodeClasses(nodeId, viewportStore.get().value)}
  style={getNodeStyles<string>(nodeId, viewportStore.get().value)}
>
  {getChildNodeIDs(nodeId).map((childId: string) => <Node nodeId={childId} />)}
</div>
