---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import type { AuthStatus } from "../types";

// user authenticated?
const user = Astro.locals.user as AuthStatus;
---

<Layout title="Page not Found" pubDatetime={new Date()} modDatetime={new Date()}>
  <Header title="Page not Found" slug="error" isContext={false} user={user} />
  <main id="main-content">
    <h2 class="text-center text-3xl text-myblue">This content could not be found.</h2>
    <div class="text-center py-16
      text-2xl md:text-3xl">
      <a
        href="/"
        class="px-3.5 py-2.5 bg-myblack text-white rounded-lg hover:rotate-1 hover:bg-myorange"
      >
        Home
      </a>
    </div>
  </main>
  <Footer created={new Date()} slug="error" isContext={false} />
</Layout>
