---
import { isValidContentPath } from "../../utils/common/routeValidation";
import { ReactNodesRenderer } from "../../components/storykeep/compositor-nodes/ReactNodesRenderer";
import { buildNodesTreeFromFragmentNodes } from "../../store/nodes";
import { getGenerateAllNodes } from "../../utils/db/nodes/generate";
import AstroNodesRenderer from "../../components/storykeep/compositor-nodes/AstroNodesRenderer.astro";
import { getConfig, validateConfig } from "../../utils/core/config";
import type { AuthStatus } from "../types";
import Layout from "../../../src/layouts/StoryKeep.astro";

const config = await getConfig();
const validation = await validateConfig(config);
if (!validation.isValid || !config) {
  return Astro.redirect("/storykeep/init");
}

const { slug } = Astro.params;
const lookup = slug || config?.init?.HOME_SLUG;
console.log("nodes slug: " + lookup);
if (slug === config.init?.HOME_SLUG) {
  return Astro.redirect("/");
}
if (!lookup) return Astro.redirect("/404");
if (!isValidContentPath(lookup)) {
  return new Response(null, {
    status: 404,
    statusText: "Not Found",
  });
}

const nodes = await getGenerateAllNodes();
buildNodesTreeFromFragmentNodes(nodes);
---

<Layout title="Nodes" pubDatetime={new Date()} modDatetime={new Date()} config={config}>
  <p>
    <em>
      menu, resource nodes not included; only the parent tractstack node and storyfragment node is
      included; only panes associated with this storyfragment are included; no context page is
      handled yet;
    </em>
    <strong
    >most critically we are generating all the nodes based on old data model from turso; once we
      save these nodes into turso (panes.optionsPayload.nodes) it becomes our source of truth -- and
      we can write a helper that loops through the entire db to generate nodes and save them (we use
      this helper to migrate old db to new)
    </strong>
    <em>
      also -- nodes.astro uses `hello` but we aren't actually rendering with proper layout, etc. as
      we would in [...slug].astro -- will need to pull storyfragment's node.created and node.changed
      and ogImage to pass to Layout or StoryKeep
    </em>
  </p>
  <br />
  <h1>Astro</h1>
  <AstroNodesRenderer slug={lookup} />

  <h1>React</h1>
  <ReactNodesRenderer slug={lookup} nodes={nodes} client:only="react" />

  <h1>Data</h1>
  <pre class="max-w-screen overflow-hidden">
  {JSON.stringify(nodes, null, 2)}
</pre>
</Layout>