---
import { getConfig, validateConfig } from "../utils/core/config";
import { getGenerateAllNodes } from "../utils/db/nodes/generate";
import type { AuthStatus } from "../types";
import Layout from "../../src/layouts/StoryKeep.astro";

const config = await getConfig();
const validation = await validateConfig(config);
if (!validation.isValid || !config) {
  return Astro.redirect("/storykeep/init");
}

const nodes = await getGenerateAllNodes();
---

<Layout title="Nodes" pubDatetime={new Date()} modDatetime={new Date()} config={config}>
  <h1>Data</h1>
  <em>Notice menuNodes and fileNodes are not actual nodes</em>
  <pre class="max-w-screen overflow-hidden">
  {JSON.stringify(nodes, null, 2)}
</pre>
</Layout>
