---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ShoppingCart from "../components/ShoppingCart";
import { isTursoReady, isContentReady } from "../api/turso";
import { getSetupChecks } from "../utils/setupChecks";
import type { AuthStatus } from "../types";

// user authenticated?
const user = Astro.locals.user as AuthStatus;

// confirm set-up
const { hasConcierge, hasTurso } = getSetupChecks();
const notPreviewNotReady = hasConcierge && !hasTurso;
const hasTursoReady = !notPreviewNotReady ? await isTursoReady() : false;
const hasContentReady = !notPreviewNotReady ? await isContentReady() : false;
if (!hasTursoReady || !hasContentReady) {
  return Astro.redirect("/storykeep");
}

export const prerender = false;
---

<Layout title="Shopping Cart" pubDatetime={new Date()} modDatetime={new Date()}>
  <Header title="Shopping Cart" slug="cart" isContext={false} user={user} />
  <main id="main-content">
    <ShoppingCart client:load />
    <div class="text-center pb-16 text-2xl md:text-3xl">
      <a
        href="/"
        class="px-3.5 py-2.5 bg-myblack text-white rounded-lg hover:rotate-1 hover:bg-myorange"
      >
        Close
      </a>
    </div>
  </main>
  <Footer created={new Date()} slug="cart" isContext={false} />
</Layout>
