---
import { ReactNodesRenderer } from "../components/storykeep/compositor-nodes/ReactNodesRenderer";
import { buildNodesTreeFromFragmentNodes } from "../store/nodes";
import { getStoryFragmentNodesBySlug } from "../utils/db/utils";
import AstroNodesRenderer from "../components/storykeep/compositor-nodes/AstroNodesRenderer.astro";
import { getConfig, validateConfig } from "../utils/core/config";
import type { AuthStatus } from "../types";
import Layout from "../../src/layouts/StoryKeep.astro";

const config = await getConfig();
const validation = await validateConfig(config);
if (!validation.isValid || !config) {
  return Astro.redirect("/storykeep/init");
}

const nodes = await getStoryFragmentNodesBySlug("hello", false);
buildNodesTreeFromFragmentNodes(nodes);
---

<Layout title="Nodes" pubDatetime={new Date()} modDatetime={new Date()} config={config}>
  <h1>Astro</h1>
  <AstroNodesRenderer />

  <h1>React</h1>
  <ReactNodesRenderer nodes={nodes} client:only="react" />

  <h1>Data</h1>
  <pre class="max-w-screen overflow-hidden">
  {JSON.stringify(nodes, null, 2)}
</pre>
</Layout>
