---
import { ulid } from "ulid";
import StoryKeep from "../../../../layouts/StoryKeep.astro";
import CreateNewAiPage from "../../../../components/storykeep/components/CreateNewAiPage";
import { isTursoReady, isContentReady } from "../../../../api/turso";
import { getSetupChecks } from "../../../../utils/setupChecks";

// confirm set-up
const { hasTurso, hasContent } = getSetupChecks();
const hasTursoReady = await isTursoReady();
const hasContentReady = hasTurso && hasContent ? await isContentReady() : false;
if (!hasTursoReady || !hasContentReady) {
  return Astro.redirect("/storykeep");
}

const slug = `create`;
const newId = ulid();

const baseUrl = new URL(Astro.url.pathname, Astro.url);
const canonicalURL = new URL(`/context/${slug}`, baseUrl).href;
---

<StoryKeep
  title="Create New Context Page"
  pubDatetime={new Date()}
  modDatetime={null}
  canonicalURL={canonicalURL}
>
  <div id="storykeep-content">
    <CreateNewAiPage mode="context" newId={newId} tractStackId={``} client:load />
  </div>
</StoryKeep>
