---
import { getFullContentMap /*, computeStoryfragmentAnalytics */ } from "@/utils/db/turso.ts";
import type { FullContentMap, ResourceNode, CodeHookPayload } from "@/types";
import CustomHero from "./CustomHero.astro";
import FeaturedContent from "../components/codehooks/FeaturedContent.astro";

export interface Props {
  target: string;
  resources?: ResourceNode[];
  options?: CodeHookPayload;
}

const { target, options /* resources */ } = Astro.props;
const contentMap: FullContentMap[] = await getFullContentMap();
//const storyfragmentAnalytics = await computeStoryfragmentAnalytics();

export const components = {
  "custom-hero": true,
  "featured-content": true,
};

// if passing props:
//) : target === "Pricing" ? (
//  <Pricing client:load resources={resources} options={options} />
---

{
  target === "featured-content" ? (
    <FeaturedContent options={options} contentMap={contentMap} />
  ) : target === "custom-hero" ? (
    <CustomHero />
  ) : (
    <div>Code hook not found</div>
  )
}
