---
import Collections from "@/custom/pages/Collections.astro";
import { extractResources } from "@/custom/utils/extractResources";
import type { ResourceNode } from "@/types";

export interface Props {
  route: string;
  slug: string;
  resources: ResourceNode[];
  variation?: string;
}

const { route, slug, resources } = Astro.props;

export const routes = {
  collections: true,
};

// Extract resources by category
const payload = extractResources(resources);
---

{
  route === "collections" ? (
    <Collections route={route} slug={slug} resources={payload} />
  ) : (
    <div>Route not found</div>
  )
}
