---
import type { ResourceNode } from "@/types";
import CustomHero from "./CustomHero.astro";

export interface Props {
  target: string;
  resources?: ResourceNode[] | null;
  options?: string | null;
}

const { target /* resources, options */ } = Astro.props;

export const components = {
  "custom-hero": true,
};

// if passing props:
//) : target === "Pricing" ? (
//  <Pricing client:load resources={resources} options={options} />
---

{target === "custom-hero" ? <CustomHero /> : <div>Code hook not found</div>}
