---
import Collections from "@/custom/pages/Collections.astro";
import type { ResourceNode } from "@/types";

export interface Props {
  route: string;
  slug: string;
  resources: ResourceNode[];
  variation?: string;
}

const { route, slug, resources } = Astro.props;

export const routes = {
  collections: true,
};
---

{
  route === "collections" ? (
    <Collections route={route} slug={slug} resources={resources} />
  ) : (
    <div>Route not found</div>
  )
}
