---
import { getAPIContext } from "@/utils/api/astroContext";
import Layout from "@/layouts/StoryKeep.astro";
import { getConfig, validateConfig } from "@/utils/core/config";
import InitWizard from "@/components/storykeep/init/InitWizard";

const context = getAPIContext(Astro);
const tenantId = context.locals.tenant?.id || "default";
const config = await getConfig(Astro.locals.tenant?.paths.configPath, tenantId);
const validation = await validateConfig(config);

// Create a secure version of validation
const secureValidation = {
  isValid: validation.isValid,
  hasPassword: validation.hasPassword,
  capabilities: validation.capabilities,
  errors: validation.errors,
  config,
};
---

<Layout title="Re-Configure your Tract Stack" config={config!}>
  <main>
    <InitWizard
      client:only="react"
      hasConcierge={validation.capabilities.hasConcierge}
      validation={secureValidation}
      init={false}
    />
  </main>
</Layout>
