---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Hr from "@components/Hr.astro";

import { events, lastRun, contentMap } from "../store/events.ts";

const id = `about-uuid-here`;
const title = `about`;
const slug = `about`;
const parentId = `parent-uuid-here`;
const parentSlug = `parent`;
const parentTitle = `parent-slug`;

let isSubmitted = false;
if (Astro.request.method === "POST") {
  isSubmitted = true;
}

const lastRunValue = lastRun.get(`lastRun`);
if (lastRunValue === 0) {
  const enterEvent = {
    id: id,
    parentId: parentId,
    type: `StoryFragment`,
    verb: `ENTERED`,
  };
  events.set([...events.get(), enterEvent]);
  lastRun.set(1);
}

contentMap.setKey(id, {
  type: `StoryFragment`,
  title,
  slug,
});
contentMap.setKey(parentId, {
  type: `TractStack`,
  title: parentTitle,
  slug: parentSlug,
});
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>{title}</h1>
      <p>Astro wrapper</p>
    </section>

    <Hr />
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold xs:my-8 xs:text-5xl;
  }
  #hero p {
    @apply my-2;
  }
</style>
