---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Hr from "@components/Hr.astro";

const title = `none`;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>{title}</h1>
      <p>Astro wrapper</p>
    </section>

    <Hr />
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold xs:my-8 xs:text-5xl;
  }
  #hero p {
    @apply my-2;
  }
</style>

<script>
  import { CONCIERGE_SYNC_INTERVAL } from "../constant";
  import { events, lastRun, contentMap } from "../store/events.ts";
  import { processEvents } from "../utils/processEvents.ts";

  const lastRunValue = parseInt(lastRun.get());
  const eventStream = events.get();

  const id = `none-uuid-here`;
  const title = `none`;
  const slug = `none`;
  const parentId = `parent-uuid-here`;
  const parentSlug = `parent`;
  const parentTitle = `parent-slug`;

  if (lastRunValue === 0) {
    console.log(`entered`);
    const enterEvent = {
      id: id,
      parentId: parentId,
      type: `StoryFragment`,
      verb: `ENTERED`,
    };
    events.set([...events.get(), enterEvent]);
    lastRun.set(`1`);
  }
  if (
    eventStream.length &&
    Date.now() > lastRunValue + CONCIERGE_SYNC_INTERVAL
  ) {
    const result = processEvents(eventStream);
    console.log(`events processed`, result);
    lastRun.set(Date.now().toString());
    events.set([]);
  }

  contentMap.setKey(id, {
    type: `StoryFragment`,
    title,
    slug,
  });
  contentMap.setKey(parentId, {
    type: `TractStack`,
    title: parentTitle,
    slug: parentSlug,
  });
  console.log(contentMap.get());
</script>
