---
import ReactP from "../../components/ReactP";
import NotReactP from "@components/NotReactP.astro";
export const partial = true;
---

<li><ReactP client:load="react" /></li>
<li><NotReactP /></li>
