---
import { getCtx } from "@/store/nodes.ts";
import Node from "@/components/storykeep/compositor-nodes/Node.astro";

const { nodeId } = Astro.props;
---

<div
  class={getCtx().getNodeClasses(nodeId, `auto`)}
  style={getCtx().getNodeStringStyles(nodeId, `auto`)}
>
  {
    getCtx()
      .getChildNodeIDs(nodeId)
      .map((id: string) => <Node nodeId={id} />)
  }
</div>
