---
import VideoPlayer from "../../components/transcribe/video/VideoPage.astro";
import { TranscriptFollower } from "../../components/transcribe/common/TranscriptFollower";
import { getConfig, validateConfig } from "../../utils/core/config";
import Layout from "../../layouts/Layout.astro";

const config = await getConfig(Astro.locals.tenant?.paths.configPath);
const validation = await validateConfig(config);
if (!validation.isValid || !config) {
  return Astro.redirect("/storykeep/init");
}
---

<Layout title="Transcribed Video" pubDatetime={new Date()} modDatetime={new Date()} config={config}>
  <main class="flex flex-col">
    <VideoPlayer
      videoSrc="https://iframe.mediadelivery.net/embed/252933/a25e36ca-3c68-4ada-aa61-b8fc0bf9a30a"
    />
    <TranscriptFollower transcriptUuid="0d3dc0ef-3035-4202-97d8-82b4a87543cb" client:only="react" />
  </main>
</Layout>
