:root {
  --font-main: "Font-Main";
  --font-action: "Font-Action";
  --scale: 1;
  --brand-1: #150c02;
  --brand-2: #fffef9;
  --brand-3: #e2e5d4;
  --brand-4: #fef6d1;
  --brand-5: #4b3703;
  --brand-6: #dddcca;
  --brand-7: #382c0d;
  --brand-8: #fefcee;
}

@font-face {
  font-family: "Font-Main";
  src: url("../fonts/Inter-Regular.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Font-Main";
  src: url("../fonts/Inter-Bold.woff2");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Font-Action";
  src: url("../fonts/Inter-Black.woff2");
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main), Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@media (prefers-reduced-motion) {
  scroll-behavior: auto;
}

[contenteditable]:empty:before {
  content: attr(data-placeholder);
  color: #888;
  font-style: italic;
}
