:root {
  --font-main: "Font-Main";
  --font-action: "Font-Action";
  --scale: 1;
  --brand-1: #10120d;
  --brand-2: #fcfcfc;
  --brand-3: #f58333;
  --brand-4: #c8df8c;
  --brand-5: #293f58;
  --brand-6: #a7b1b7;
  --brand-7: #393d34;
  --brand-8: #e3e3e3;
}

@font-face {
  font-family: "Font-Main";
  src: url("../fonts/Inter-Regular.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Font-Main";
  src: url("../fonts/Inter-Bold.woff2");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Font-Action";
  src: url("../fonts/Inter-Black.woff2");
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main), Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@media (prefers-reduced-motion) {
  scroll-behavior: auto;
}

[contenteditable]:empty:before {
  content: attr(data-placeholder);
  color: #888;
  font-style: italic;
}
