:root {
  --brand-1: #0f1912;
  --brand-2: #f6f4f3;
  --brand-3: #cfae97;
  --brand-4: #ded2c3;
  --brand-5: #24423c;
  --brand-6: #a8cd20;
  --brand-7: #452a3d;
  --brand-8: #f3f5f6;
}

@font-face {
  font-family: "Font-Main";
  src: url("../fonts/Inter-Regular.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Font-Main";
  src: url("../fonts/Inter-Bold.woff2");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Font-Action";
  src: url("../fonts/Inter-Black.woff2");
  font-display: swap;
}

/*
@font-face {
  font-family: "Font-Main";
  src: url("../fonts/Futura-Boo.woff");
  font-display: swap;
}

@font-face {
  font-family: "Font-Main";
  src: url("../fonts/Futura-Bol.woff");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Font-Action";
  src: url("../fonts/Bison-Bold.woff");
  font-display: swap;
}
*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main), Arial, "Helvetica Neue", Helvetica, sans-serif;
}

@media (prefers-reduced-motion) {
  scroll-behavior: auto;
}

[contenteditable]:empty:before {
  content: attr(data-placeholder);
  color: #888;
  font-style: italic;
}
