---
import Node from "@/components/compositor-nodes/Node.astro";
import { getCtx } from "@/store/nodes.ts";
import type { MarkdownPaneFragmentNode } from "@/types.ts";

const { nodeId, depth = 0 } = Astro.props;
const node = getCtx().allNodes.get().get(nodeId) as MarkdownPaneFragmentNode;
const parentCss = (node?.parentCss as string[]) || [];
---

{
  parentCss.length > 0 && depth < parentCss.length ? (
    <div class={parentCss[depth]}>
      <Astro.self nodeId={nodeId} depth={depth + 1} />
    </div>
  ) : (
    getCtx()
      .getChildNodeIDs(nodeId)
      .map((x) => <Node nodeId={x} />)
  )
}
