---
import { getCtx } from "../../../../../store/nodes";
import { viewportStore } from "../../../../../store/storykeep.ts";
import Node from "../../../../storykeep/compositor-nodes/Node.astro";
import type { FlatNode } from "../../../../../types";

const { nodeId } = Astro.props;
const node = getCtx().allNodes.get().get(nodeId) as FlatNode;
---

<a class={getCtx().getNodeClasses(nodeId, viewportStore.get().value)} href={node.href}>
  {
    getCtx()
      .getChildNodeIDs(nodeId)
      .map((id: string) => <Node nodeId={id} />)
  }
</a>
