---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import FastTravel from "../../components/FastTravel";
import { isTursoReady, isContentReady } from "../../api/turso";
import { getSetupChecks } from "../../utils/setupChecks";
import type { AuthStatus } from "../../types";

// user authenticated?
const user = Astro.locals.user as AuthStatus;

// confirm set-up
const { hasConcierge, hasTurso } = getSetupChecks();
const notPreviewNotReady = hasConcierge && !hasTurso;
const hasTursoReady = !notPreviewNotReady ? await isTursoReady() : false;
const hasContentReady = !notPreviewNotReady ? await isContentReady() : false;
if (!hasTursoReady || !hasContentReady) {
  return Astro.redirect("/storykeep");
}
---

<Layout title="Fast Travel" pubDatetime={new Date()} modDatetime={new Date()}>
  <Header title="Fast Travel" slug="graph" isContext={false} user={user} />
  <main id="main-content">
    <div class="px-12 md:px-24 font-main text-xl py-24">
      <div class="max-w-5xl mx-auto">
        <FastTravel client:load />
      </div>
      <div class="text-center pt-16
      text-2xl md:text-3xl">
        <a
          href="/"
          class="px-3.5 py-2.5 bg-myblack text-white rounded-lg hover:rotate-1 hover:bg-myorange"
        >
          Close
        </a>
      </div>
    </div>
  </main>
  <Footer created={new Date()} slug="graph" isContext={false} />
</Layout>
